.app-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}
.app-area > .app-sidebar {
  display: flex;
  height: 100%;
  width: 10rem;
}
.app-area > .app-main {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
.sidebar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: #EEF6FF;
  border-right: 0.1rem solid #DEEDFE;
}
.sidebar-item.active {
  color: teal;
}
.sidebar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: #EEF6FF;
  border-right: 0.1rem solid #DEEDFE;
}
.sidebar-item.active {
  color: teal;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
.app-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}
.app-area > .app-sidebar {
  display: flex;
  height: 100%;
  width: 10rem;
}
.app-area > .app-main {
  height: 100%;
  width: 100%;
}
